# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented code leveraged by Istanbul
coverage

# Dependency directories
node_modules/

# Production build output
dist/

# OS files
.DS_Store
Thumbs.db

# Local environment variables
.env
.env.local

# IDE
.vscode/
.idea/
spa.traineddata
